
.all {
    display: block;
    margin-left: auto;
    margin-right: auto ;
    width: 600px;
}

.milieu
{
    display: block;
    justify-content : center;
    width: auto;
    display: block;
    margin: 2% auto 2%;
 }

.re
{display: block;
margin-left: auto;
margin-right: auto;
width: auto;
}
.nav2{
    display: block;
    justify-content : center;
}